@import url(c:\Users\Mauro Gonzalo Ortiz\Desktop\CandleStore-GonzaloOrtiz\node_modules\bootstrap\dist\css\bootstrap.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.cabecera {
  width: 150px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
