/* Titulos */

h1 {
  color: #333333;
  font-size: 30pt;
  display: inline-block;
  animation-duration: 2s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  color: #5e2f2f;
  font-size: 25pt;
  font-style: italic;
  letter-spacing: 2pt;
  text-transform: uppercase;
  margin: 20px 30px;
}

h3 {
  color: #313235;
  font-weight: bold;
  margin-top: 50px;
}

h4 {
  font-size: 15pt;
  margin-left: 30px;
  margin-bottom: 25px;
}

/* Index */

.insumos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.insumos img {
  width: 150px;
  height: 150px;
}

.insumosArt {
  margin: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

/* Tienda */

.miProducto {
  margin: 15px;
  padding: 10px;
}

article p {
  font-size: 12pt;
  text-align: justify;
  line-height: auto;
  margin-top: 15px;
}

.tienda {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.tienda .item {
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.imgRedux {
  width: 250px;
  height: auto;
}
/* Insumos*/

.cajasArticulo {
  display: grid;
  grid-template-areas:
    "foto foto"
    "prod prod"
    "foto foto"
    "prod prod";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4vh;
  grid-column-gap: 2vh;
}

.imgVela {
  max-width: 100%;
  height: auto;
  grid-area: foto;
  border-radius: 15px;
  margin: 2vh;
}

.product {
  grid-area: prod;
  text-align: justify;
  max-width: 90%;
  margin: 2vh;
}

/* Blog */

.cajasBlog {
  display: flex;
  flex-direction: column;
}

.cajasBlog article {
  margin: 15px;
  padding: 15px;
}

/* Footer */

.logoFooter {
  margin-left: 50px;
  width: 50px;
}

footer {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 414px) {

  .insumos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .insumos img {
    width: 150px;
    height: 150px;
  }

  .imgVela {
    max-width: 90%;
    height: auto;
    grid-area: foto;
    border-radius: 15px;
    margin: 2vh;
  }
}

@media only screen and (min-width: 415px) and (max-width: 960px) {

  .insumos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .insumosArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .insumos img {
    width: 150px;
    height: 150px;
  }

  .imgVela {
    max-width: 80%;
    height: auto;
    grid-area: foto;
    border-radius: 15px;
    margin: 2vh;
  }
}
