@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

.preguntas {
  margin-top: 80px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.logofaq {
  width: max-content;
  margin-left: auto;
  margin-right: auto; }

html {
  min-height: 100%;
  position: relative; }

body {
  background-image: url(../media/background.jpg);
  font-family: "Rubik", sans-serif;
  min-height: 100vh; }

header {
  width: 100%;
  background: linear-gradient(to left, #ffff, #f38888); }
  header .nav-item {
    margin-left: 25px; }
  header .cabecera {
    width: 150px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: #333333; }

footer {
  width: 100%;
  height: auto;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  position: absolute;
  margin-top: auto; }
  footer .logoFooter {
    width: 50px; }
