.mapa {
    margin: 40px auto;
    width: 80%;
    text-align: center;
}

.formulario {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    h4 {
        font-weight: bold;
    }
}

@media (max-width: 414px) {
    iframe {
        width: 100%;
    }
}
    
@media only screen and (min-width: 415px) and (max-width: 960px) {
    iframe {
        width: 100%;
    }
}