footer {
    width: 100%;
    height: auto;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    position: absolute;
    margin-top: auto;
    .logoFooter {
        width: 50px;
    }
}