header {
    width: 100%;
    background: linear-gradient(to left, #ffff, #f38888);
    .nav-item {
        margin-left: 25px;
    }
    .cabecera {
        width: 150px;
        font-size: 25px;
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        color: #333333;
    }
}