.insumos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
    width: 150px;
    height: 150px;
    }
}

.insumosArt {
    margin: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    p {
        text-align: justify;
    }
}

@media (max-width: 414px) {

    .insumos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .insumos img {
    width: 150px;
    height: 150px;
    }

    .imgVela {
    max-width: 90%;
    height: auto;
    grid-area: foto;
    border-radius: 15px;
    margin: 2vh;
    }
}

@media only screen and (min-width: 415px) and (max-width: 960px) {

    .insumos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .insumosArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .insumos img {
    width: 150px;
    height: 150px;
    }

    .imgVela {
    max-width: 80%;
    height: auto;
    grid-area: foto;
    border-radius: 15px;
    margin: 2vh;
    }
}