.nosotros {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    p{
        margin-top: 30px;
        text-align: justify;
        line-height: 2rem;
    }

    img {
        width: 60%;
        border-radius: 15px;
        display: block;
        margin: 50px auto 100px;
    }
}
