.container {
    margin-top: 30px;
    img {
        border-radius: 10px;
        display: block;
        margin: auto;
    }
    .product {
        margin-top: 20px;
        text-align: justify;
    }
}