.container {
    width: 80%;
    margin: 30px auto;
    img {
        border-radius: 10px;
        display: block;
        margin: 30px auto;
    }
    .titulo-producto {
        font-size: 2rem;
        font-weight: bold;
    }
    .product {
        margin-top: 20px;
        text-align: justify;
    }
}