* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.cabecera {
  width: 150px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
